<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        display: flex;
        justify-content: center;

    }
    .body{
        background-image:url("/assets/background.png") ;
        width: 595px;
        height: 842px;    
        background-repeat: no-repeat;
    }
    header img {
        margin-left: auto;
    }
</style>
<body>
    <div class="body">
     <header>
           <img src="/assets/ClimeUp.png" alt="logo">
     </header>
     <main>

     </main>
    </div>
</body>
</html>