<div id="cover-body">
  <header id="cover-header">
    <img src="/assets/ClimeUp.png" alt="logo" id="cover-logo" />
  </header>
  <main id="cover-main">
    <div id="cover-container">
      <div id="cover-info">
        <img id="company-logo" src="/assets/comlogo.png" alt="company-logo" />
        <h6 id="company-name">Fluid Dynamics, LLC</h6>
      </div>
      <h1 id="report-title">
        ESG Report <span id="report-year">2023-24</span>
      </h1>
      <h4 id="report-subtitle">Action for a sustainable future</h4>
    </div>
  </main>
</div>
<style>
  #cover-body {
    background-image: url('/assets/background.png');
    width: 595px;
    height: 842px;
    background-repeat: no-repeat;
    position: relative; /* Ensure the background covers the entire page */
  }

  #cover-header {
    position: absolute;
    right: 3px;
    top: 3px;
    border: none;
  }

  #cover-logo {
    width: auto; /* Adjust width as necessary */
    height: auto; /* Adjust height as necessary */
  }

  #cover-main {
    position: relative;
    padding-top: 50px; /* Space from the top */
  }

  #cover-container {
    position: absolute;
    left: 130px;
    top: 530px;
    color: white;
  }

  #cover-info {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  #company-logo {
    width: 20px;
    height: 20px;
  }

  #company-name {
    font-weight: 300;
    font-size: 16px;
  }

  #report-title {
    font-size: 48px;
  }

  #report-year {
    font-size: 32px;
    font-weight: 500;
  }

  #report-subtitle {
    font-weight: 300;
    font-size: 16px;
  }
</style>
