<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="/assets/pj"></script>
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        justify-content: center;

    }

    .body {
        background-image: url("/assets/background.png");
        width: 595px;
        height: 842px;
        background-repeat: no-repeat;
    }

    header img {
        position: absolute;
        right: 3px;
        top: 3px;
    }

    header {
        position: relative;
    }

    main {
        position: relative;

    }

    .container {
        position: absolute;
        left: 130px;
        top: 700px;
        color: white;

    }

    .container div {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .container h4 {
        font-weight: 100;
    }

    h1 span {
        font-size: large;
    }
</style>

<body>
    <div class="body">~
        <header>
            <img src="/assets/ClimeUp.png" alt="logo">
        </header>
        <main>
            <div class="container">
                <div>
                    <img src="/assets/comlogo.png" alt="">
                    <h6>Fluid Dynamics, LLC</h6>
                </div>
                <h1>ESG Report <span>2023-24</span></h1>
                <h4>Action for a sustainable future</h4>
            </div>
        </main>
    </div>
</body>

</html>