<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>climeup</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .body {
      height: 842px;
      width: 595px;
      /* height: 100%; */
      padding: 4px;
    }

    header {
      height: 3%;
      border-bottom: 2px solid #dce1ff;
      font-size: 0.6rem;
      text-align: end;
      padding: 4px 20px;
    }

    main {
      height: 94%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    footer {
      height: 3%;
      border-top: 2px solid #dce1ff;
      padding: 4px 20px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    footer p {
      font-size: 0.6rem;
    }

    .page-num {
      font-size: 0.7rem;
      font-weight: 700;
    }
    #full-page {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }
  </style>

  <body id="full-page">
    <%- include("covertemp") %> 
    <% for(let i = 1; i <= 8 ; i++) { %>
    <div class="body">
      <header>
        <p>Fluid Dynamics Inc.</p>
      </header>
      <% const dynamicPage = "page" + i; %> <%- include(dynamicPage) %>
      <footer>
        <p>ESG report 2022-2023 climeup.ai</p>
        <p class="page-num">
          <% const num = i < 10 ? '0' + i : i + 1; %> <%= num %>
        </p>
      </footer>
    </div>
    <% } %>
  </body>
</html>
