<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>climeup</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      height: 842px;
    }

    .body {
      height: 100%;
      padding: 4px;
    }

    header {
      height: 3%;
      border-bottom: 2px solid #dce1ff;
      font-size: 0.6rem;
      text-align: end;
      padding: 4px 20px;
    }

    main {
      height: 94%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }

    footer {
      height: 3%;
      border-top: 2px solid #dce1ff;
      padding: 4px 20px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }
    footer p {
      font-size: 0.6rem;
    }
    .page-num {
      font-size: 0.7rem;
      font-weight: 700;
    }
  </style>

  <body>
    <div class="body">
      <header>
        <p>Fluid Dyanamics . Inc</p>
      </header>
      <% const dynamicPage = "page"+page; %> <%- include(dynamicPage) %>
      <footer>
        <p>ESG report 2022-2023 climeup.ai</p>
        <p class="page-num">
          <% const num = parseInt(page) > 9 ? page : `0${page}` %> <%= num %>
        </p>
      </footer>
    </div>
  </body>
</html>
