<main>
  <%- include("./component/heading") %>
  <div class="container container-one">
    <div class="chart-des">
      <div class="title">
        <h3>Emissions by facilities</h3>
        <p>Fluid dynamics accounts for 10% of total emissions.</p>
      </div>
    </div>
    <div class="chart">
      <div style="height: 102px">
        <canvas id="pie1"></canvas>
      </div>
    </div>
  </div>
  <div class="container container-two">
    <div class="chart-des">
      <div class="title">
        <h3>Emissions by facilities</h3>
        <p>Fluid dynamics accounts for 10% of total emissions.</p>
      </div>
      <div class="emission-values">
        <div class="emission">
          <h6>Highest emissions</h6>
          <div class="emission-des">
            <div class="emission-title">
              <img src="/assets/emissionlogo.png" alt="emission-logo" />
              <p>Darwintech manufacturing private Ltd</p>
            </div>
            <div class="emission-value">
              <h6>810</h6>
              <p>Mt CO2</p>
            </div>
          </div>
        </div>
        <div class="emission">
          <h6>Lowest emissions</h6>
          <div class="emission-des">
            <div class="emission-title">
              <img src="/assets/emissionlogo.png" alt="emission-logo" />
              <p>Darwintech manufacturing private Ltd</p>
            </div>
            <div class="emission-value">
              <h6>810</h6>
              <p>Mt CO2</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chart">
      <div height="288px" width="336px">
        <canvas id="bar"></canvas>
      </div>
    </div>
  </div>
</main>
<script src="/viewScripts/chart.js"></script>
<script src="/viewScripts/page4.js"></script>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
  }

  .emission-value {
    font-size: 1.4rem;
    font-weight: 600;
  }

  header {
    height: 3%;
    border-bottom: 1px solid #dce1ff;
    font-size: 0.6rem;
    text-align: end;
    padding: 4px 20px;
  }

  main {
    height: 94%;
  }

  .container {
    border: 1px #dce1ff solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
  }

  .chart-des {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  footer {
    height: 3%;
    font-size: 0.6rem;
    border-top: 1px solid #dce1ff;
    padding: 4px 20px;
  }

  .title h3 {
    font-size: 1.2rem;
  }

  .title p {
    font-size: 1rem;
    color: #00a575;
  }

  .emission-values {
    display: flex;
    gap: 10px;
  }

  .emission {
    background-color: #f6feff;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
  }

  .emission h6 {
    font-size: 0.7rem;
    color: #767680;
  }

  .emission-des {
    display: flex;
    gap: 7px;
  }

  .emission-title {
    display: flex;
    gap: 4px;
    padding-right: 2px;
    align-items: center;
    border-right: 1px solid #dce1ff;
  }

  .emission-title p {
    font-size: 0.7rem;
  }

  .emission-title img {
    border: #767680 solid 0.4px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
  }

  .emission-value h6 {
    font-size: 1rem;
    color: black;
  }

  .emission-value p {
    font-size: 0.35rem;
  }
</style>
