<main id="main-page-1">
  <div class="report" id="report-page-1">
    <h2 id="report-title-page-1">Sustainability report</h2>

    <table id="report-table-page-1">
      <% for(let name in facilities) { %>
      <tr>
        <td class="facility-name-page-1"><%= name %></td>
        <td class="table-value-page-1"><%= facilities[name] %></td>
      </tr>
      <% } %>
    </table>
  </div>
  <div class="chart" id="chart-page-1">
    <h3 id="chart-title-page-1">Overall emissions by scope for 01-Jan-2023 to 01-Dec-2023</h3>
    <p id="chart-value-page-1"><span> 77654.987 </span> mt CO2e</p>
    <canvas id="myChart-page-1"></canvas>
  </div>
</main>

<style>
  #main-page-1 {
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #report-page-1 {
    width: 50%;
    text-align: center;
  }

  #report-table-page-1 {
    width: 100%;
    /* margin-left: 100px; */
  }

  #chart-page-1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: #dce1ff solid 1.3px;
  }

  #footer-page-1 {
    height: 3%;
    font-size: 0.6rem;
    border-top: 2px solid #dce1ff;
    padding: 4px 20px;
  }

  #report-table-page-1 td {
    text-align: start;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 400;
  }

  #report-title-page-1 {
    margin-block: 10px;
    font-size: 24px;
    font-weight: 500;
  }

  #chart-value-page-1 span {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #5b73c4;
  }

  #chart-value-page-1 {
    font-size: 12px;
    font-weight: 400;
  }

  .table-value-page-1 {
    font-weight: 500;
  }

  #chart-title-page-1 {
    font-size: 14px;
    font-weight: 600;
  }
</style>

<script type="module" src="/viewScripts/page2.js"></script>
<!--
    <script>
        Chart.register(ChartDataLabels);
        const ctx = document.getElementById('myChart-page-1').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'Scope 1',
                    data: [12, 19, 3, 5, 2, 3, 7],
                    borderColor: '#fff',
                    backgroundColor: ['#0054AD', '#0099D2', '#00C8CF'],
                }]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            usePointStyle: true,
                        },
                        padding: 20,
                    },
                    tooltip: {
                        enabled: true
                    },
                    datalabels: {
                        formatter: (value, context) => {
                            let sum = 0;
                            const dataArr = context.chart.data.datasets[0].data;
                            dataArr.forEach(data => {
                                sum += data;
                            });
                            const percentage = (value * 100 / sum).toFixed(2) + "%";
                            return percentage;
                        },
                        color: '#fff',
                        font: {
                            weight: 'bold'
                        },
                        anchor: 'center',
                        align: 'center'
                    }
                }
            }
        });

    </script>
-->
