<main>
    <div style="width: 100%;" >
        <%- include("./component/heading" , { hideEmission:true } ) %>
        <div class="container ">
          <h3>Scope 1</h3>
          <div class="emission-des">
            <h6>6789.8 mtCO2e</h6>
            <p>Stationary</p>
          </div>
          <div class="emission-des">
            <h6>6789.8 mtCO2e</h6>
            <p>Stationary</p>
          </div>
          <div class="emission-des">
            <h6>6789.8 mtCO2e</h6>
            <p>Stationary</p>
          </div>
          <button>
            <p>Overall</p>
            <span class="emission-value"> 77654.987 mt CO2e </span>
          </button>
        </div>
        <div class="container ">
          <h3>Scope 1</h3>
          <div class="emission-des">
            <h6>6789.8 mtCO2e</h6>
            <p>Stationary</p>
          </div>
          <div class="emission-des">
            <h6>6789.8 mtCO2e</h6>
            <p>Stationary</p>
          </div>
          <div class="emission-des">
            <h6>6789.8 mtCO2e</h6>
            <p>Stationary</p>
          </div>
          <button>
            <p>Overall</p>
            <span class="emission-value"> 77654.987 mt CO2e </span>
          </button>
        </div>
        <div class="container ">
          <h3>Scope 1</h3>
          <div class="emission-des">
            <h6>6789.8 mtCO2e</h6>
            <p>Stationary</p>
          </div>
          <div class="emission-des">
            <h6>6789.8 mtCO2e</h6>
            <p>Stationary</p>
          </div>
          <div class="emission-des">
            <h6>6789.8 mtCO2e</h6>
            <p>Stationary</p>
          </div>
          <button>
            <p>Overall</p>
            <span class="emission-value"> 77654.987 mt CO2e </span>
          </button>
        </div>
    </div>
    <!--
        <div style="width: 100%;" >
            <%- include("./component/heading") %>
            <div class="container ">
              <h3>Scope 1</h3>
              <div class="emission-des">
                <h6>6789.8 mtCO2e</h6>
                <p>Stationary</p>
              </div>
              <div class="emission-des">
                <h6>6789.8 mtCO2e</h6>
                <p>Stationary</p>
              </div>
              <div class="emission-des">
                <h6>6789.8 mtCO2e</h6>
                <p>Stationary</p>
              </div>
              <button>
                <p>Overall</p>
                <span class="emission-value"> 77654.987 mt CO2e </span>
              </button>
            </div>
            <div class="container ">
              <h3>Scope 1</h3>
              <div class="emission-des">
                <h6>6789.8 mtCO2e</h6>
                <p>Stationary</p>
              </div>
              <div class="emission-des">
                <h6>6789.8 mtCO2e</h6>
                <p>Stationary</p>
              </div>
              <div class="emission-des">
                <h6>6789.8 mtCO2e</h6>
                <p>Stationary</p>
              </div>
              <button>
                <p>Overall</p>
                <span class="emission-value"> 77654.987 mt CO2e </span>
              </button>
            </div>
            <div class="container ">
              <h3>Scope 1</h3>
              <div class="emission-des">
                <h6>6789.8 mtCO2e</h6>
                <p>Stationary</p>
              </div>
              <div class="emission-des">
                <h6>6789.8 mtCO2e</h6>
                <p>Stationary</p>
              </div>
              <div class="emission-des">
                <h6>6789.8 mtCO2e</h6>
                <p>Stationary</p>
              </div>
              <button>
                <p>Overall</p>
                <span class="emission-value"> 77654.987 mt CO2e </span>
              </button>
            </div>
        </div>

    -->

</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
  }


  .emission-value {
    font-size: 0.6rem;
    font-weight: 600;
  }

  main {
    height: 94%;
  }

  .container {
    width: 100%;
    border: 1px #dce1ff solid;
    border-radius: 10px;
    padding: 24px 20px ;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  footer {
    height: 3%;
    font-size: 0.6rem;
    border-top: 1px solid #dce1ff;
    padding: 4px 20px;
  }

  .emission-des {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .emission-des h6 {
    font-size: 0.8rem;
    font-weight: 500;
  }
  .emission-des p {
    font-size: .7rem;
    font-weight: 300;
  }

  button {
    font-size: 0.5rem;
    background-color: #4d88c6;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 3px;
    color: white;
  }
</style>
