<main>
  <div class="report">
    <h2>Sustainability report</h2>

    <table>
      <% for(let name in facilities) { %>
      <tr>
        <td><%= name %></td>
        <td class="table-value"><%= facilities[name] %></td>
      </tr>
      <% } %>
    </table>
  </div>
  <div class="chart">
    <h3>Overall emissions by scope for 01-Jan-2023 to 01-Dec-2023</h3>
    <p><span> 77654.987 </span> mt CO2e</p>
    <canvas id="myChart"></canvas>
  </div>
</main>
<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
  }

  body {
    height: 842px;
  }

  .body {
    height: 100%;
    padding: 4px;
  }

  header {
    height: 3%;
    border-bottom: 2px solid #dce1ff;
    font-size: 0.6rem;
    text-align: end;
    padding: 4px 20px;
  }

  main {
    height: 94%;
    /*
          justify-content: center; 
          */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .report {
    width: 50%;
    text-align: center;
  }

  .report table {
    width: 100%;
    margin-left: 100px;
  }

  .chart {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: #dce1ff solid 1.3px;
  }

  footer {
    height: 3%;
    font-size: 0.6rem;
    border-top: 2px solid #dce1ff;
    padding: 4px 20px;
  }

  td {
    text-align: start;
    padding: 5px 10px;
    font-size: 10px;
    font-weight: 400;
  }

  h2 {
    margin-block: 10px;
    font-size: 24px;
    font-weight: 500;
  }

  p span {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    color: #5b73c4;
  }
  p {
    font-size: 12px;
    font-weight: 400;
  }

  .table-value {
    font-weight: 500;
  }
  h3 {
    font-size: 14px;
    font-weight: 600;
  }
</style>
<script type="module" src="/viewScripts/page2.js"></script>
<!--


    <script>
        Chart.register(ChartDataLabels);
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [{
                    label: 'Scope 1',
                    data: [12, 19, 3, 5, 2, 3, 7],
                    // backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    // fill: false,
                    borderColor: '#fff',
                    backgroundColor: ['#0054AD', '#0099D2', '#00C8CF'],
                }]
            },
            /*
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                    tooltip: {
                        enabled: true
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false 
                        },
                        ticks: {
                            display: false 
                        },
                        border: {
                            display: false
                        }
                    },
                    y: {
                        beginAtZero: true,
                        grid: {
                            display: false 
                        },
                        ticks: {
                            display: false 
                        },
                        border: {
                            display: false
                        }
                       
                    }
                }
            }
         */
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: true,
                        position: 'bottom',
                        labels: {
                            usePointStyle: true,
                        },
                        padding: 20,
                    },
                    tooltip: {
                        enabled: true
                    },
                    datalabels: {
                        formatter: (value, context) => {
                            let sum = 0;
                            const dataArr = context.chart.data.datasets[0].data;
                            dataArr.forEach(data => {
                                sum += data;
                            });
                            const percentage = (value * 100 / sum).toFixed(2) + "%";
                            return percentage;
                        },
                        color: '#fff',
                        font: {
                            weight: 'bold'
                        },
                        anchor: 'center',
                        align: 'center'
                    }
                }
            }
        });

    </script>
    -->
