<main id="page-6-main">
  <%- include("./component/heading") %>
  <div class="container container-one" id="page-6-container-one">
    <div class="chart-des" id="page-6-chart-des-one">
      <div class="title" id="page-6-title-one">
        <h3>Emissions by facilities</h3>
        <p>Fluid dynamics accounts for 10% of total emissions.</p>
      </div>
    </div>
    <div class="chart" id="page-6-chart-one"></div>
  </div>
  <div class="container container-two" id="page-6-container-two">
    <div class="chart-des" id="page-6-chart-des-two">
      <div class="title" id="page-6-title-two">
        <h3>Emissions by facilities</h3>
        <p>Fluid dynamics accounts for 10% of total emissions.</p>
      </div>
    </div>
    <div class="chart" id="page-6-chart-two"></div>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<style>
  #page-6-main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
  }

  #page-6-main .emission-value {
    font-size: 1.4rem;
    font-weight: 600;
  }

  #page-6-main header {
    height: 3%;
    border-bottom: 1px solid #dce1ff;
    font-size: 0.6rem;
    text-align: end;
    padding: 4px 20px;
  }

  #page-6-main main {
    height: 94%;
  }

  #page-6-container-one,
  #page-6-container-two {
    border: 1px #dce1ff solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
  }

  #page-6-chart-des-one,
  #page-6-chart-des-two {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #page-6-main footer {
    height: 3%;
    font-size: 0.6rem;
    border-top: 1px solid #dce1ff;
    padding: 4px 20px;
  }

  #page-6-title-one h3,
  #page-6-title-two h3 {
    font-size: 1.2rem;
  }

  #page-6-title-one p,
  #page-6-title-two p {
    font-size: 1rem;
    color: #00a575;
  }

  #page-6-main .emission-values {
    display: flex;
    gap: 10px;
  }

  #page-6-main .emission {
    background-color: #f6feff;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
  }

  #page-6-main .emission h6 {
    font-size: 0.7rem;
    color: #767680;
  }

  #page-6-main .emission-des {
    display: flex;
    gap: 7px;
  }

  #page-6-main .emission-title {
    display: flex;
    gap: 4px;
    padding-right: 2px;
    align-items: center;
    border-right: 1px solid #dce1ff;
  }

  #page-6-main .emission-title p {
    font-size: 0.7rem;
  }

  #page-6-main .emission-title img {
    border: #767680 solid 0.4px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
  }

  #page-6-main .emission-value h6 {
    font-size: 1rem;
    color: black;
  }

  #page-6-main .emission-value p {
    font-size: 0.35rem;
  }
</style>
