<main id="page-5">
  <%- include("./component/heading") %>
  <div class="container container-one">
    <div class="chart-des">
      <div class="title">
        <h3>Emissions by facilities</h3>
        <p>Fluid dynamics accounts for 10% of total emissions.</p>
      </div>
    </div>
    <div class="chart"></div>
  </div>
  <div class="container container-two">
    <div class="chart-des">
      <div class="title">
        <h3>Emissions by facilities</h3>
        <p>Fluid dynamics accounts for 10% of total emissions.</p>
      </div>
      <div class="emission-values">
        <div class="emission highest-emission">
          <h6>Highest emissions</h6>
          <div class="emission-des">
            <div class="emission-title">
              <img src="/assets/emissionlogo.png" alt="emission-logo" />
              <p>Darwintech Manufacturing Private Ltd</p>
            </div>
            <div class="emission-value">
              <h6>810 $</h6>
            </div>
          </div>
        </div>
        <div class="emission lowest-emission">
          <h6>Lowest emissions</h6>
          <div class="emission-des">
            <div class="emission-title">
              <img src="/assets/emissionlogo.png" alt="emission-logo" />
              <p>Darwintech Manufacturing Private Ltd</p>
            </div>
            <div class="emission-value">
              <h6>810 $</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="chart"></div>
  </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<style>
  #page-5 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
  }

  #page-5 .emission-value {
    font-size: 1.4rem;
    font-weight: 600;
  }

  #page-5 header {
    height: 3%;
    border-bottom: 1px solid #dce1ff;
    font-size: 0.6rem;
    text-align: end;
    padding: 4px 20px;
  }

  #page-5 main {
    height: 94%;
  }

  #page-5 .container {
    border: 1px #dce1ff solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
  }

  #page-5 .chart-des {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #page-5 footer {
    height: 3%;
    font-size: 0.6rem;
    border-top: 1px solid #dce1ff;
    padding: 4px 20px;
  }

  #page-5 .title h3 {
    font-size: 1.2rem;
  }

  #page-5 .title p {
    font-size: 1rem;
    color: #00a575;
  }

  #page-5 .emission-values {
    display: flex;
    gap: 10px;
  }

  #page-5 .emission {
    background-color: #f6feff;
    padding: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 290px;
  }

  #page-5 .emission h6 {
    font-size: 0.7rem;
    color: #767680;
  }

  #page-5 .emission-des {
    display: flex;
    gap: 7px;
  }

  #page-5 .emission-title {
    display: flex;
    gap: 4px;
    padding-right: 4px;
    align-items: center;
    border-right: 1px solid #dce1ff;
  }

  #page-5 .emission-title p {
    font-size: 0.7rem;
  }

  #page-5 .emission-title img {
    border: #767680 solid 0.4px;
    border-radius: 50%;
    padding: 2px;
    background-color: white;
  }

  #page-5 .emission-value h6 {
    font-size: 1rem;
    color: black;
  }

  #page-5 .emission-value p {
    font-size: 0.35rem;
  }
</style>
