<main id="page-8-main">
  <div style="width: 100%">
    <%- include("./component/heading", { hideEmission: true }) %>
    <div class="container" id="page-8-container-one">
      <h3>Scope 1</h3>
      <div class="emission-des" id="page-8-emission-des-one">
        <h6>6789.8 mtCO2e</h6>
        <p>Stationary</p>
      </div>
      <div class="emission-des" id="page-8-emission-des-two">
        <h6>6789.8 mtCO2e</h6>
        <p>Stationary</p>
      </div>
      <div class="emission-des" id="page-8-emission-des-three">
        <h6>6789.8 mtCO2e</h6>
        <p>Stationary</p>
      </div>
      <button id="page-8-overall-button">
        <p>Overall</p>
        <span class="emission-value">77654.987 mt CO2e</span>
      </button>
    </div>
    <div class="container" id="page-8-container-two">
      <h3>Scope 1</h3>
      <div class="emission-des" id="page-8-emission-des-four">
        <h6>6789.8 mtCO2e</h6>
        <p>Stationary</p>
      </div>
      <div class="emission-des" id="page-8-emission-des-five">
        <h6>6789.8 mtCO2e</h6>
        <p>Stationary</p>
      </div>
      <div class="emission-des" id="page-8-emission-des-six">
        <h6>6789.8 mtCO2e</h6>
        <p>Stationary</p>
      </div>
      <button id="page-8-overall-button-two">
        <p>Overall</p>
        <span class="emission-value">77654.987 mt CO2e</span>
      </button>
    </div>
    <div class="container" id="page-8-container-three">
      <h3>Scope 1</h3>
      <div class="emission-des" id="page-8-emission-des-seven">
        <h6>6789.8 mtCO2e</h6>
        <p>Stationary</p>
      </div>
      <div class="emission-des" id="page-8-emission-des-eight">
        <h6>6789.8 mtCO2e</h6>
        <p>Stationary</p>
      </div>
      <div class="emission-des" id="page-8-emission-des-nine">
        <h6>6789.8 mtCO2e</h6>
        <p>Stationary</p>
      </div>
      <button id="page-8-overall-button-three">
        <p>Overall</p>
        <span class="emission-value">77654.987 mt CO2e</span>
      </button>
    </div>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<style>
  #page-8-main * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
  }

  #page-8-main .emission-value {
    font-size: 0.6rem;
    font-weight: 600;
  }

  #page-8-main main {
    height: 94%;
  }

  #page-8-container-one,
  #page-8-container-two,
  #page-8-container-three {
    width: 100%;
    border: 1px #dce1ff solid;
    border-radius: 10px;
    padding: 24px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  #page-8-main footer {
    height: 3%;
    font-size: 0.6rem;
    border-top: 1px solid #dce1ff;
    padding: 4px 20px;
  }

  #page-8-main .emission-des {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  #page-8-main .emission-des h6 {
    font-size: 0.8rem;
    font-weight: 500;
  }

  #page-8-main .emission-des p {
    font-size: 0.7rem;
    font-weight: 300;
  }

  #page-8-main button {
    font-size: 0.5rem;
    background-color: #4d88c6;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    gap: 3px;
    color: white;
  }
</style>
