<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div> I am temp bro </div>
    <div>
        <canvas id="myChart" aria-label="chart" role="img"></canvas>
    </div>
    <script src="/viewScripts/chart.js"></script>
    <script src="/viewScripts/script.js"></script>
</body>

</html>
