<!doctype html>
<html lang="en">
  <head>
    <title>Chart.js example</title>
  </head>

  <body>
    <div>I am temp bro</div>
    <div><canvas id="dimensions"></canvas></div>
    <br />
    <script type="module" src="/viewScripts/page2.js"></script>
  </body>
</html>
